.side_options:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: #50b7f5;
  
  }
  
  .side_options {
    padding: 10px;
  }
  
  .side-text {
    padding-left: 20px;
    font-size: 20px;
  }
  
  .side-icon {
    font-size: 25px;
  }
  
  
  
  .side-bar-icon {
    color: rgb(29, 155, 240);
    font-size: 35px;
    line-height: 20px;
    font-weight: 700;
  }
  
  
  
  .tweet-bton {
    background-color: rgb(29, 161, 242);
    border: 2px solid rgb(29, 161, 242);
    border-radius: 150px;
    color: white;
    font-weight: bolder;
  
    padding: 10px 0px;
  
  }
  